:root {
    /*light theme*/
    --bg: #fff7f7;
    --sbg: #ceefe4;
    --fc: #204969;
    --sc : #dadada;
}
.darktheme{
    --bg: #2e3440;
    --sbg: #3b4252;
    --fc: #929fb2;
    --sc: #192023;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg);
    color: var(--fc);
}
.row {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#themeButton{
    position: absolute;
    z-index: 100;
    right: 5px;
    top: 5px;
    background-color: var(--sbg);
    color: var(--fc);
    border: none;
}
#search{
    margin: auto;
    margin-bottom: 0;
}
#search input{
    background-color: var(--sbg);
    border: 1px solid var(--fc);
    color: var(--fc);
}
#weather, #date{
    text-align: center;
}
#date {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: -20px;
}
#weather i{
    font-size: xxx-large;
}
#weather span:nth-child(2) {
    font-size: xxx-large;
    padding-left: 1rem;
}
#weather span:nth-child(3){
    padding-right: 1rem;
}
#links .column{
    background-color: var(--sbg);
    box-shadow: 4px 6px 5px 0px var(--sc);
    margin: 1rem;
}
#links h2{
    text-align: center;
    padding-top: 1rem;
}
#links ul{
    list-style: none;
}
#links li{
    padding-left: 2.5rem;
    font-size: large;
    font-weight: 400;
    line-height: 17pt;
}
#links .column a{
    color: var(--fc);
}
#links .column a:hover{
    text-decoration: underline;
}
@media (max-width: 720px){
    #date, #weather{
        display: none;
    }
}